* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 { 
    text-align: center;
}

.container {
    display: flex;
    width: 70%;
    margin: auto;
}

.middle-left {
    width: 50%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.contact-information {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.contact-information h3 {
    margin-bottom: 0.3rem;
}

.contact-information input, label {
    margin-bottom: 0.3rem;
}

.shipping-address {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.shipping-address h3 {
    margin-bottom: 0.3rem;
}

.shipping-address input, label {
    margin-bottom: 0.3rem;
}

.country {
    margin-top: 1rem;
}

.country label {
    /* display: inline-block; */
    display: inline-flex;
    justify-content: space-around;
}